{% extends "base.html" %}

{% block content %}
<h2>Nova Movimentação de Estoque</h2>

<form action="/movimentacoes/criar" method="post">
    <label for="dt">Data:</label>
    <input type="date" name="dt" required><br>
    <br>
    <label for="hr">Hora:</label>
    <input type="time" name="hr" required><br>
    <br>
    <label for="tipo_mov">Tipo:</label>
    <select name="tipo_mov" required>
        <option value="entrada">Entrada</option>
        <option value="saida">Saída</option>
    </select><br>
    <br>
    <label for="id_prod">Produto:</label>
    <select name="id_prod" required>
        {% for produto in produtos %}
        <option value="{{ produto.id_prod }}">{{ produto.nome }}</option>
        {% endfor %}
    </select><br>
    <br>
    <label for="qtd">Quantidade:</label>
    <input type="number" name="qtd" required><br>
    <br>
    <label for="obs">Observação:</label>
    <input type="text" name="obs"><br>
    <br>
    <button type="submit">Salvar</button>
    <a href="/movimentacoes" class="btn btn-secondary float-end">Voltar</a>
</form>
{% endblock %}
